body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #ffffff; 
    margin: 0;
    padding: 0;
}

.chat-container {
    margin: 10px;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

#chat-box {
    height: 40vh; 
    border-radius: 10px;
    overflow-y: auto;
    padding: 10px;
    background: #f0f0f0; 
    display: flex;
    flex-direction: column;
    gap: 8px; 
}

.message-self {
    background-color: #dcf8c6;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    max-width: 75%; 
    align-self: flex-end; 
}

.message-other {
    background-color: #ffffff; 
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    max-width: 75%; 
    align-self: flex-start; 
}

#chat-form {
    display: flex;
    flex-direction: column; 
}

#message {
    padding: 10px; 
    border: 1px solid #ccc; 
    margin-bottom: 10px; 
    background-color: #f0f0f0; 
}

button {
    padding: 10px;
    background-color: #25D366; 
    color: #fff; 
    border: none;
    cursor: pointer;
}

#small-map {
    height: 40vh; 
    border-radius: 10px; 
    margin-top: 10px; 
    margin-bottom: 1.5%;
}

@media (max-width: 768px) {
    .chat-container {
        margin: 5px; 
        padding: 5px; 
    }

    #chat-box {
        height: 45vh; 
    }

    .padd{
        margin-top: 10% ;
    }

    #small-map {
        height: 40vh; 
    }

    #chat-form {
        flex-direction: row; 
        align-items: center; 
    }

    #message {
        margin-bottom: 0; 
        flex-grow: 1; 
    }

    button {
        width: auto; /* Botão ocupa apenas o necessário */
        margin-left: 5px; /* Espaço entre o input e o botão */
    }
}
