html ::-webkit-scrollbar {
    width: 10px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #3d4d6a;
}

html ::-webkit-scrollbar-track {
    background: #ededed;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: #e1e1e1;
}

.container-mapa {
    display: flex;
    height: 87vh;
    width: 85vw;
    margin: 0 auto;
    flex-wrap: nowrap;
}

#map {
    flex: 1; /* Mapa ocupa o espaço disponível */
    height: 100%; /* Altura total do contêiner */
    margin: 0;
    border: 2px solid #ddd;
    border-radius: 10px;
    z-index: 4;
}

.aceitar-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    max-height: 50rem;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
}


.prestador {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.prestador:hover {
    transform: scale(1.02);
}

.prestador img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.h5-prestador {
    flex-grow: 1;
    font-family: 'Inter', sans-serif;
    text-align: left;
}

.p-prestador {
    margin-right: 8%;
    font-size: 0.9em;
    color: #888;
    margin-top: 4%
}

.distancia {
    font-size: 0.9em;
    color: #888;
    text-align: right;
    margin-left: 10px;
}

.search {
    display: flex;
    margin: auto;
    align-items: center;
}

.aceitar-cliente {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.aceitar-cliente img {
    max-width: 100%;
    height: auto;
}
.hidden {
    display: none;
}

.imagem-container {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.botao-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.botao {
    width: 100%;
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.modal-backdrop {
    z-index: 1040; /* ou um valor inferior ao do modal */
}

.modal {
    z-index: 1050; /* ou um valor maior */
}

@media (max-width: 768px) {

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .container-mapa {
        flex-direction: column;
        width: 768px;
        height: 45%;
        margin-bottom: 100%;
    }

    .hidden {
        display: none;
    }

    #map {
        height: 45vh;
        width: 100vw;
        margin: 0;
        order: 2;
    }



    .aceitar-container {
        width: 100%;
        max-height: 26rem;
        margin: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        overflow-y: auto;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
    }

    .prestador {
        margin-bottom: 10px;
        padding: 8px;
    }

    .prestador img {
        width: 40px;
        height: 40px;
    }

    .h5-prestador {
        font-size: 1em;
    }

    .p-prestador,
    .distancia {
        font-size: 0.8em;
    }

    .modal {
        z-index: 2000;
    }

    .modal-backdrop {
        z-index: 5;
    }

    .modalprofissional {
        margin-top: 23%;
    }

}




