
  .modal-header {
    background-color: #f7f7f7;
    border-bottom: none;
  }

  .modal-content {
    border-radius: 15px;
  }

  .modal-body h5 {
    font-size: 18px;
    font-weight: bold;
  }

  .modal-body p {
    margin-bottom: 0.5rem;
  }

  .btn-outline-custom {
    border-color: #007bff;
    color: #007bff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
  }

  .btn-outline-custom img {
    margin-right: 8px; 
  }

  .btn-outline-custom:hover {
    background-color: #f7f7f7; 
    color: #007bff;
    border-color: #6c757d;
  }

  @media (max-width: 768px) {
    .modal-dialog {
      width: 100%;
      margin: 0 auto;
    }

    .modal-body .col-6 {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
